<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="IATX" providerName="Isban.Common.Data.IATX" connectionString=""/>
    <add name="DBSEG" providerName="Oracle.DataAccess" connectionString="Data Source=SRV_RIO58_AP;User Id=seg02_user1;Password=seg02_user1;" />
    <add name="DBMAPS" providerName="Oracle.DataAccess" connectionString="Data Source=SRV_RIO181_AP;enlist=true;User Id={0};Password={1};credentialId=30331"/>
    <add name="DBSMC" providerName="Oracle.DataAccess" connectionString="Data Source=GSA;enlist=true;Pooling=true;User Id={0};Password={1};credentialId=13015"/>
    <add name="DBOPICS" providerName="Oracle.DataAccess" connectionString="Data Source=GSA;enlist=true;Pooling=true;User Id={0};Password={1};credentialId=12471"/>
  </connectionStrings>
  <WebApiConfiguration Mode="Service" UriService="http://webmerapisrv.ar.bsch/api/Informacion/ObtenerServicios/" AplicationId="MAPS2_VIP" CacheExpiration="1440" xdt:Transform="Replace">
    <Services/>
  </WebApiConfiguration>
  <isban.common.data.iATX inputArea="Input" outputArea="Output" outputDate="Output_Fecha" outputHeader="Output_Header" headerArea="Header" headerParameterPrefix="H_"
                          serviceArea="Servicio" repeat="Repeticion" repeatQuantity="Cant_repeticiones" xPathPrefix="//" xPathSlash="/" delimiter="õ" delimiterService="õ"
                          delimiterOutput="?" delimiterHeader="DH" iATXEmulation="FALSE" iATXPathIni="C:\IATX\Ctx_MAPS4000.ini" iATXEmulationLogFolder="C:\IATX\"
                          iATXServiceDefinitionFolder="IATX" xdt:Transform="Replace" />
  <LogTraceSection UriTrace="http://webctlsrv.ar.bsch/api/Trace/SaveTrace/" UriLog="http://webctlsrv.ar.bsch/api/Log/SaveLog/" Aplication="MAPS 2.0" SLA="3"
       ExcludeTrace="http://webctlsrv.ar.bsch/api/Trace/GetExcludeTraceForAplication/" xdt:Transform="Replace" />
  <AdsecFirmaConfigurationSection xdt:Transform="Replace" >
    <Firma aplicacion="MAPS" canal="00" subcanal="00" url="http://adsec-ws.ar.bsch/ADSECWS/services/SOAPMessageDispatcher" action="process" />
  </AdsecFirmaConfigurationSection>
  <appSettings xdt:Transform="Replace">
    <add key="CodCanal" value="SAM" />
    <add key="CanalId" value="SAM" />
    <add key="CanalTipo" value="0" />
    <add key="ERI_URL" value="http://wsmesac.ar.bsch:6465/EriService.svc" />
    <add key="MYA_URL" value="http://myainte.ar.bsch:80/servicios/Services" />
    <add key="Tipo_Operacion_Evaluacion_SAF" value="SFON" />
  </appSettings>
  <system.diagnostics xdt:Transform="Replace" >
    <sources>
      <source name="WebMessageLogging" switchValue="All">
        <listeners>
          <add name="WebMessageLogging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Logging" switchValue="All">
        <listeners>
          <add name="Logging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Performance" switchValue="All">
        <listeners>
          <add name="Performance" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="Isban.Common.Performance" switchValue="All">
        <listeners>
          <add name="fileTrace1" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\weblogs\MAPS\MAPS3000.Logging.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Logging">
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MAPS\MAPS3000.Trace.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Performance">
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MAPS-3000\MAPS3000.Performance.cvs" type="Isban.Common.Trace.GenericHealthModelTraceListener, Isban.Common" name="fileTrace1" >
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>