<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="isban.dataProviders" type="Isban.Common.Data.Configuration.DataProviderSection, Isban.Common.Data" />
    <section name="AdsecFirmaConfigurationSection" type="Isban.Mercados.Security.Adsec.Config.AdsecFirmaSection, Isban.Mercados.Security.Adsec" />
    <section name="StartConfiguration" type="Isban.Mercados.Configuration.Settings.StartConfigurationSection, Isban.Mercados" />
    <section name="isban.common.data.iATX" type="Isban.Common.Data.IATX.IATXConnectorConfiguration, Isban.Common.Data.IATX" />
    <section name="WebApiConfiguration" type="Isban.Mercados.WebApiClient.Settings.WebApiConfigurationSection, Isban.Mercados.WebApiClient" />
    <section name="LogTraceSection" type="Isban.Mercados.LogTrace.Settings.ConfigurationLogTraceSection, Isban.Mercados" />
  </configSections>
  <StartConfiguration>
    <References>
      <Reference FileName="Isban.Maps.Configuration.Backend.dll" Class="Isban.Maps.Configuration.Backend.BussinessConfiguration" />
      <Reference FileName="Isban.Maps.Configuration.Backend.dll" Class="Isban.Maps.Configuration.Backend.DataAccessConfiguration" />
    </References>
  </StartConfiguration>
  <LogTraceSection UriTrace="https://ctl-api-dev-ctl-api.apps.ocp.ar.bsch/api/Trace/SaveTrace/" UriLog="https://ctl-api-dev-ctl-api.apps.ocp.ar.bsch/api/Log/SaveLog/" Aplication="MAPS 2.0" SLA="5" ExcludeTrace="https://ctl-api-dev-ctl-api.apps.ocp.ar.bsch/api/Trace/GetExcludeTraceForAplication/" />
  <WebApiConfiguration Mode="Service" UriService="http://webbpsibedesa01:2012/api/Informacion/ObtenerServicios/" AplicationId="MAPS_DESA" CacheExpiration="1440">
    <Services />
  </WebApiConfiguration>
  <isban.dataProviders>
    <add providerName="Oracle.DataAccess" type="Isban.Common.Data.Providers.Oracle.OracleDataProviderFactory, Isban.Common.Data.Providers.Oracle" />
    <add providerName="Isban.Common.Data.IATX" type="Isban.Common.Data.Providers.IATX.IATXDataProviderFactory, Isban.Common.Data.Providers.IATX" />
  </isban.dataProviders>
  <AdsecFirmaConfigurationSection>
    <Firma aplicacion="MAPS" canal="00" subcanal="00" url="http://wasadsecdesa01.ar.bsch:9090/ADSECWS/services/SOAPMessageDispatcher" action="process" />
  </AdsecFirmaConfigurationSection>
  <appSettings>
    <add key="CodCanal" value="SAM" />
    <add key="CanalId" value="SAM" />
    <add key="CanalTipo" value="0" />
    <add key="ERI_URL" value="http://webbpsibedesa02:6466/ERIService.svc" />
    <add key="MYA_URL" value="http://wasinetdesamya01:9081/servicios/Services" />
    <add key="Tipo_Operacion_Evaluacion_SAF" value="SFON" />
  </appSettings>
  <connectionStrings>
    <add name="DBSEG" providerName="Oracle.DataAccess" connectionString="Data Source=SRV_RIO58D3_AP;User Id=seg02_user1;Password=seg02_user1;" />
    <add name="DBMAPS" providerName="Oracle.DataAccess" connectionString="Data Source=SRV_RIO181D_AP;enlist=true;User Id={0};Password={1};credentialId=30331" />
    <add name="DBSMC" providerName="Oracle.DataAccess" connectionString="Data Source=SRV_GSAD3_AP;enlist=true;User Id={0};Password={1};credentialId=68004" />
    <add name="DBOPICS" providerName="Oracle.DataAccess" connectionString="Data Source=SRV_GSAD3_AP;enlist=true;User Id={0};Password={1};credentialId=68005" />
  </connectionStrings>
  <isban.common.data.iATX inputArea="Input" outputArea="Output" outputDate="Output_Fecha" outputHeader="Output_Header" headerArea="Header" headerParameterPrefix="H_" serviceArea="Servicio" repeat="Repeticion" repeatQuantity="Cant_repeticiones" xPathPrefix="//" xPathSlash="/" delimiter="õ" delimiterService="õ" delimiterOutput="?" delimiterHeader="DH" iATXEmulation="FALSE" iATXPathIni="C:\IATX\Ctx_MAPS.ini" iATXEmulationLogFolder="C:\IATX\" iATXServiceDefinitionFolder="IATX" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <globalization enableClientBasedCulture="false" uiCulture="en-GB" culture="en-GB" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Isban.Common" publicKeyToken="ee40c1ce623971fd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <sources>
      <source name="WebMessageLogging" switchValue="All">
        <listeners>
          <add name="WebMessageLogging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Logging" switchValue="All">
        <listeners>
          <add name="Logging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Performance" switchValue="All">
        <listeners>
          <add name="Performance" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="Isban.Common.Performance" switchValue="All">
        <listeners>
          <add name="fileTrace1" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\weblogs\MAPS-BE-9200\MAPS.Logging.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Logging">
        <filter type="" />
      </add>
      <add initializeData="C:\weblogs\MAPS-BE-9200\MAPS.Trace.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Performance">
        <filter type="" />
      </add>
      <add initializeData="C:\weblogs\MAPS-BE-9200\MAPS.TraceWeb.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="WebMessageLogging">
        <filter type="" />
      </add>
      <add initializeData="C:\weblogs\MAPS-BE-9200\MAPS.log" type="Isban.Common.Trace.GenericHealthModelTraceListener, Isban.Common" name="fileTrace">
        <filter type="" />
      </add>
      <add initializeData="C:\weblogs\MAPS-BE-9200\MAPS.Performance.cvs" type="Isban.Common.Trace.GenericHealthModelTraceListener, Isban.Common" name="fileTrace1">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>